@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://unpkg.com/aos@2.3.1/dist/aos.css);
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --def-margin: 100px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body .px-def {
  padding-inline: var(--def-margin);
}
body .py-def {
  padding-block: var(--def-margin);
}
body .mx-def {
  margin-inline: var(--def-margin);
}
body .my-def {
  margin-inline: var(--def-margin);
}

@media screen and (max-width: 560px) {
  .cover_mobile {
    width: 100%;
  }
}
